@import '../../../app.component.scss';

section{
   background-image: linear-gradient(to right, rgba(94, 56, 56, 0), rgb(147, 169, 220));
    height: 90vh;
}

.content{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.no-content{
    display: block;
}

.no-data{
    width: 12rem;
    color: $bg-primary-color;
}

.sidebar{
    background-color:  $bg-primary-color;
    height: 90vh;
    span {
        padding: 0.9rem;
        display: flex;
        flex-direction: row;
        color: $white;
        text-decoration: wavy;
    }
}


.kanban-cards{
    padding:2rem;
    display: flex;
    gap:2rem;
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.kanban-card{
    background-color: $white;
    min-width: 20rem;
    border-radius: .3rem;
    text-align: center;

    .kanban-card-header{
        height: 3.5rem;
        padding:1rem 0rem;
        background-color: $bg-secondary-color;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        color: $white;
        text-decoration: wavy;
    }
}

