<app-header></app-header>
<section class="content">
    <div class="sidebar">side bar</div>
    <div class="kanban-cards">
        <div class="kanban-card">
            <div class="kanban-card-header">
                Contentsxxxxxx
            </div>
            </div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contentsxxxxxx</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contentsxxxxxx</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contentsxxxxxx</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contentsxxxxxx</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contentsxxxxxx</div>
        <div class="kanban-card">Contents</div>
        <div class="kanban-card">Contents</div>
    </div>
</section>

