/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,900&display=swap');
$primary_color: rgb(33, 33, 235);

body{
    font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
}

.logo{
    color: $primary_color;
}

.logo-text{
    color: $primary_color;
    text-transform: uppercase;
    font-size: medium;
}

.top-menu-btn{
    color:white;
    padding: 0.5rem 4rem;
    border-radius: .4rem;
    background-color: $primary_color;
    margin: 0rem 2rem;
}

//




    



 
 
 
 
 




 
 









